@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.logo-container {
    height: 55px;
    box-shadow: 0px 4px 40px -20px rgba(0, 0, 0, 0.25)
}

.logo-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 17px;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.btn-all {
    font-weight: 500;
    font-size: 16px;
    padding: 14px 26px;
    gap: 10px;
    height: 52px;
    background-color: #12B886;
    color: #FFFFFF;
    border: 1.5px solid #12B886;
    border-radius: 8px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    padding: 14px 26px;
    gap: 10px;
    height: 52px;
    background-color: rgba(18, 184, 134, 0.05);
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    color: #12B886;
}

.search-input{
    width: 324px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #F1F3F5;
    padding-left: 10px;
}

.search-button {
    background: #12B886;
    border: 1.5px solid #12B886;
    width:59px;
    height: 52px;
    border-radius: 8px;
    padding: 14px 20px;
    gap: 10px;
}

.search-icon {
    width: 16px;
    height: 16px;
    top: 3px;
    left: 3px;
}

.price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 134px ;
    max-width: 1093px;
    height: 56px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.info {
    text-align: center;
    padding: 5px;
    margin: 2px 0 0 24px;
    width: 28px;
    height: 28px;
    color: #12B886;
    border: 2px solid #12B886;
    border-radius: 50%;
}

.price-title {
    font-weight: 400;
    font-size: 14px;
    margin-right: 550px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    width: 82px;
    height: 34px;
    border-radius: 4px;
    background-color: #212529;
    margin-right: 30px;
}

.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 52px 116px 113px 135px;
    max-width: 1200px;
    gap: 25px;
}

.imagem {
    width: 254px;
    height: 175px;
    border-radius: 8px;
}

.titulo {
    font-weight: 500;
    font-size: 16px;
    color: #212529
}

.secao {
    margin: 16px 0px;
    font-weight: 400;
    font-size: 12px;
    color: #868E96;
}

.preco {
    font-weight: 500;
    font-size: 12px;
    color: #212529
}

.button:hover {
    border: 1.5px solid #12B886;
}

.clickedButton {
    background-color: #12B886;
    color: #FFFFFF;
}

.clickedButtonAll{
    font-weight: 500;
    font-size: 16px;
    padding: 14px 26px;
    gap: 10px;
    width: 167px;
    height: 52px;
    background-color: #FFFFFF;
    color: #12B886;
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    border-radius: 8px;
    
}

.clickedButtonAll:hover {
    border: 1.5px solid #12B886;
}
